@import "fonts.css";
@import "main.css";

body{
  font-family: 'merri','Georgia',serif;
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  background: var(--bg);
}

a{
  text-decoration: none;
  color: unset;
}

a:hover{
  color: unset;
  text-decoration: unset;
}

.main-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
}

/* Start Header */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.625rem;
}

.header h1{
  font-size: 2rem;
  font-family: 'montserrat-extra-bold', sans-serif;
  color: var(--textTitle);
}

/* End Header */

.user-brief {
  margin-bottom: 4.5rem;
}

.user-brief span{
  color: var(--textNormal);
  font-size: 1.2rem;
}

.user-brief a{
  color: var(--pink);
  text-decoration: underline;
}

.user-brief a:hover{
  text-decoration: unset;
}

.user-brief img{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

/* Article */
.articles .articles-title h3 a{
  color: var(--textLink);
  text-decoration: none;
  font-family: montserrat-extra-bold, sans-serif;
}

.articles .articles-date span{
  font-family: 'merri-light' , sans-serif;
}

.articles .articles-abstract span{
  font-family: 'merri-regular' , sans-serif;
}

/* End Article */

/* Footer */

.footer a{
  box-shadow: 0 1px 0 0 currentColor;
  color: var(--textLink);
  font-size: 16px;
  font-family: merri-regular , sans-serif;
  margin-left: 5px;
}

.footer a:hover{
  box-shadow: 0 0 0 0 currentColor;
  color: var(--textLink);
}

.footer .dot{
  color: var(--textNormal);
}

/* End Footer */